<%-include('partials/header') %>
<div class="container">
<header class="jumbotron">
  <div class="container">
    <h2>Developed By:- ABHISEK KUMAR</h2>
    <p>Email:- abhiseksinha23@gmail.com</p>
    <p>
    Contact No.- 9110180658<br>
    NIT, JAMSHEDPUR
    </p>
  </div>
</header>
  </body>
  </html>
